<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form action="signup" method="POST">
    {%csrf_token %}<br>
    Full Name: <input type="text" name="fullname"><br>
    Email-ID: <input type="email" name="email-id"><br>
    Phone No.: <input type="text" name="phone_no." maxlength="10"><br>
    Username: <input type="text" name="username" maxlength="12"><br>
    Date-of-birth: <input type="date" name="dob"><br>
    Password: <input type="password" name="password" maxlength="11" minlength="6"><br>
    <input type="submit" name="submit">
</form>
</body>
</html>